<!doctype html>
<html lang="en">

<head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
                integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
                crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/5a43e0175c.js" crossorigin="anonymous"></script>
        {{!-- Custom jS --}}
        <script type="text/javascript" src="js/home.js" defer></script>

        {{!-- Custom CSS --}}
        <link rel="stylesheet" href="css/home.css">
        <title>Teams|Help</title>
        <style>
                body {
                        background-image: url(images/bg.jpg);
                        color: #000;
                }

                a {
                        color: rgb(60, 3, 87);
                        box-sizing: border-box;
                        text-decoration: none;
                        font-weight: bold;
                }

                ul li a {
                        color: rgb(60, 3, 87);
                        box-sizing: border-box;
                        font-weight: bold;
                }
        </style>
</head>

<body>
        <div class="nav">
                <div class="logo">
                        <a href="/"><img src="https://img.icons8.com/color/48/000000/microsoft.png" /></a>
                </div>
                <ul>
                        <h2 class="text-center" style="margin-top:12px; font-family:cursive;">FAQ's</h2>
                </ul>
        </div>
        <div class="container">
                <h3 class="text-center" style="font-weight: bold; font-size:50px; margin-top:10px;">FAQ</h3>
                <br>
                <div id="accordion">
                        <div class="card">
                                <div class="card-header" id="headingOne">
                                        <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                                        data-target="#collapseOne" aria-expanded="false"
                                                        aria-controls="collapseOne">
                                                        <i class="fas fa-plus"></i>
                                                        How to get started?
                                                </button>
                                        </h5>
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                        data-parent="#accordion">
                                        <div class="card-body">
                                                You need to first register/login in order to access this web app.
                                                <br>
                                                Here is sign in button.
                                                <br>
                                                <a type="button" href="/register">Register here</a>
                                        </div>
                                </div>
                        </div>
                        <div class="card">
                                <div class="card-header" id="headingSix">
                                        <h5 class="mb-0">
                                                <button class="btn btn-link" data-toggle="collapse"
                                                        data-target="#collapseSix" aria-expanded="true"
                                                        aria-controls="collapseSix">
                                                        <i class="fas fa-plus"></i>
                                                        What features it has?
                                                </button>
                                        </h5>
                                </div>

                                <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                                        data-parent="#accordion">
                                        <div class="card-body">
                                                It has a number of useful features:
                                                <ul>
                                                        <li>
                                                                Register/Login - Provides authentication to use.
                                                                <br>
                                                                Secure & Safe to use!
                                                                <a href="/register">Register</a>
                                                                <br>
                                                                Already a user?
                                                                <a href="/login">Login</a>
                                                        </li>
                                                        <li>
                                                                Video Call - Connect With People.
                                                                <br>
                                                                You can mute your mic, on/off video,chat during meeting
                                                                and also you can invite your friends.
                                                                <br>
                                                                <h4>Have fun</h4>
                                                                <br>
                                                                <a href="/organise">Organise your Meeting here.</a>
                                                        </li>
                                                        <li>
                                                                Email - send email to your friends,colleague about
                                                                important notices with an attachment.
                                                                <br>
                                                                <a href="/invite">Email</a>
                                                        </li>
                                                        <li>
                                                                Discussion room - You can group chat to discuss your
                                                                doubts,issues and have fun gossiping!
                                                                <br>
                                                                <a href="/chatform">Discuss</a>
                                                        </li>
                                                        <li>
                                                                Dark Mode - It provides a dark mode feature too.
                                                                <br>
                                                                You can use them!!
                                                        </li>
                                                </ul>
                                        </div>
                                </div>
                        </div>
                        <div class="card">
                                <div class="card-header" id="headingFive">
                                        <h5 class="mb-0">
                                                <button class="btn btn-link" data-toggle="collapse"
                                                        data-target="#collapseFive" aria-expanded="true"
                                                        aria-controls="collapseFive">
                                                        <i class="fas fa-plus"></i>
                                                        Can i organise or sent email or discuss with my friends without
                                                        logging in?
                                                </button>
                                        </h5>
                                </div>

                                <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                                        data-parent="#accordion">
                                        <div class="card-body">
                                                No,You need to register/login first in order to access these features!
                                        </div>
                                </div>
                        </div>

                        <div class="card">
                                <div class="card-header" id="headingTwo">
                                        <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                                        data-target="#collapseTwo" aria-expanded="false"
                                                        aria-controls="collapseTwo">
                                                        <i class="fas fa-plus"></i>
                                                        How to join in with the meeting link?
                                                </button>
                                        </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                        data-parent="#accordion">
                                        <div class="card-body">
                                                Go to meet which is there on main page.
                                                Click on to join button , it will ask you meeting url,just copy paste
                                                that link nd click on join button.
                                                <br>
                                                Congratulations! You've joined meeting.
                                                <p style="font-weight: bold; color:brown;">Meet>Join Meeting>Paste
                                                        Url>Click on Join-in button.</p>
                                        </div>
                                </div>
                        </div>
                        <div class="card">
                                <div class="card-header" id="headingThree">
                                        <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                                        data-target="#collapseThree" aria-expanded="false"
                                                        aria-controls="collapseThree">
                                                        <i class="fas fa-plus"></i>
                                                        How to enable darkmode?
                                                </button>
                                        </h5>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                        data-parent="#accordion">
                                        <div class="card-body">
                                                There's a button in upper rightmost corner,you need to click that button
                                                to enable dark mode.
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
</body>

</html>